body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/nubes2.jpg);
    text-size-adjust: 15px;
    
}

#container {
    
    background: no-repeat;
    padding: 20px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    border-radius: 15px;
}

#container > .block{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #F7F0F0;
    box-shadow: 1px 2px 3px black;
    padding: 50px;
    
}



.block2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 1px 2px 3px black;
    background-color: #F7F0F0;
    padding: 50px;
}